<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning WTForms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='logo_square.svg') }}"
      type="image/x-icon"
    />
  </head>
  <body>
        <h1>Hello, WTForms!</h1>
      <div class="container">
        <h2>Sing up now </h2>
        <form action="#">
          <div class="form-control">
            <label class="form-control-label" for="username">Username:</label>
            <input required type="text"  class="form-control-input" id="username"/>
            <p class="form-control-error">Username can not be empty</p>
          </div>
          <div class="form-control">
            <label class="form-control-label" for="email">Email:</label>
            <input required type="email"  class="form-control-input" id="email"/>
            <p class="form-control-error">Username can not be empty</p>
          </div>
          <div class="form-control">
            <label class="form-control-label" for="password">Password:</label>
            <input required type="password"  class="form-control-input" id="password"/>
            <p class="form-control-error">Username can not be empty</p>
          </div>

          <div class="form-control">
            <button type="submit" class="submit-btn">Login</button>
          </div>
        </form>
      </div>
  </body>
</html>
