<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning WTForms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='logo_square.svg') }}"
      type="image/x-icon"
    />
  </head>
  <body>
        <h1>Hello, WTForms!</h1>
      <div class="container">
        <h2>Sing up now </h2>
        <form action="#">
          <div class="form-control">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control-input") }}
            <p class="form-control-error">Username can not be empty</p>
          </div>
          <div class="form-control">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control-input", type="email") }}
            <p class="form-control-error">Username can not be empty</p>
          </div>
          <div class="form-control">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control-input", type="password") }}
            <p class="form-control-error">Username can not be empty</p>
          </div>

          <div class="form-control">
            {{ form.submit(class="submit-btn")}} 
          </div>
        </form>
      </div>
  </body>
</html>
